/********************************************
********COMMON
**********************************************/

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

main {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/********************************************
***************Header 
**********************************************/
header nav {
  display: flex;
  width: 80%;
  margin: 1rem auto;
  justify-content: space-between;
  align-items: center;
}

header nav .logo img {
  width: 6rem;
}

header nav .home a {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

header nav .right-nav {
  display: flex;
  gap: 2rem;
}

header .heading {
  margin-top: 5rem;
}

header .heading h1.light {
  color: #bdbdbd;
  font-weight: 200;
  font-size: 3rem;
}

header .heading h1 {
  font-size: 3.5rem;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 950px) {
  main {
    width: 95%;
  }

  header nav {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }

  header nav .right-nav {
    flex-direction: column;
  }
}

/********************************************
**********Main
**********************************************/

main .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

main .gallery .image {
  width: 100%;
  height: 100%;
}

main .gallery .image img {
  width: 100%;
  height: 100%;
}

main .readmore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  background-color: #fbfbfb;
  padding: 1rem 1rem;
}

main .readmore .images-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-basis: 50%;
}

main .readmore .images-section img {
  width: 100%;
}

main .readmore .text-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 50%;
}

main .readmore .text-section button {
  width: 40%;
  padding: 1rem 2rem;
  background-color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

main .number-section {
  display: flex;
  width: 80%;
  margin: 3rem auto;
  justify-content: space-between;
}

main .number-section .number-one {
  display: flex;
  align-items: center;
  flex-basis: 30%;
  gap: 1rem;
}

main .number-section .number-one h1 {
  color: #f2f2f2;
  font-size: 6rem;
}

main .number-section .number-two {
  display: flex;
  align-items: center;
  flex-basis: 40%;
  gap: 1rem;
}

main .number-section .number-two h1 {
  color: #f2f2f2;
  font-size: 6rem;
}

main .contact .heading h1 {
  color: #8d8d8d;
  font-size: 4rem;
  font-weight: 400;
  margin: 1rem 0rem;
}

main .contact .contact-container {
  display: flex;
  width: 95%;
  margin: 2rem auto;
  gap: 5rem;
}

main .contact .contact-container .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 60%;
}

main .contact .contact-container .form input {
  width: 100%;
  padding: 10px 20px;
  background-color: #f3f3f3;
  border: 0;
}

main .contact .contact-container .form textarea {
  width: 100%;
  padding: 1rem;
  resize: none;
  background-color: #f3f3f3;
}

main .contact .contact-container .form .terms {
  display: flex;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #333;
  border-radius: 2px;
  vertical-align: middle;
}

input[type="checkbox"]:checked + span:before {
  content: "\2713";
  color: #333;
  font-size: 14px;
  text-align: center;
}

main .contact .contact-container .form button {
  width: 40%;
  background-color: #333333;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

main .contact .contact-container .form-image img {
  width: 90%;
  flex-basis: 30%;
}

@media only screen and (max-width: 950px) {
  main .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  main .readmore {
    flex-direction: column;
  }
  main .readmore .text-section button {
    width: 80%;
  }
  main .number-section {
    flex-direction: column;
  }
  main .contact .contact-container {
    flex-direction: column;
    width: 90%;
  }
  main .contact .contact-container .form {
    width: 90%;
    margin: 0 auto;
  }
  main .contact .contact-container .form input {
    width: 90%;
  }
  main .contact .contact-container .form textarea {
    width: 90%;
  }
}

/********************************************
***************Footer
**********************************************/

footer {
  display: flex;
  align-items: center;
  background-color: #000;
  padding: 2rem 2rem;
  color: #fff;
  justify-content: space-between;
}

footer .information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .information a {
  text-decoration: none;
  color: #fff;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .locate {
  display: flex;
  gap: 2rem;
  align-items: center;
}

footer .socials {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

footer .socials .logos {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media only screen and (max-width: 950px) {
  footer {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
}
